name: Test secret

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Test this output
        run: |
          sudo apt install mount.sshfs
        env:
          SECRET: ${{ secrets.SECRET }}
