name: Test secret

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEPLOYMENT_PRIVATE_KEY }}
          known_hosts: 'placeholder'

      - name: Set up SSH Known Host
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} -p ${{ secrets.SSH_PORT }} >> ~/.ssh/known_hosts

      - name: Test script
        if: ${{ github.event_name == 'push' || github.event_name == 'workflow_dispatch' }}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.DEPLOYMENT_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo "Hello World"
            false
