name: Test secret

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Test this output
        run: |
          echo "$SECRET"
        shell: bash
        env:
          SECRET: ${{ secrets.SECRET }}
